.navbar-bg {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 25px;
}

p {
  margin: 0;
  padding: 0;
}

.App, html, body {
  display: flex;
  flex-direction: column;
  background-color: #020062;
  overflow: hidden;
  height: 100vh;
}

.title {
  margin: 100px;
  color: #FFC700;
  font-weight: bold;
  font-size: 64px;
}

.description {
  width: 500px;
  margin-left: 100px;
  color: white;
  font-size: 38px;
}

.wallet-container {
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

.document-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
  cursor: pointer;
  overflow: auto;
}

.docs-image {
  margin-top: 50px;
}